<!DOCTYPE html>
<html class="screen-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page title</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap">
    <link rel="stylesheet" id="bs-base-fonts">
    <link rel="stylesheet" href="http://localhost:3000/dump/landing/tailwind.min.css" id="bs-base-css">
    <link rel="stylesheet" href="http://localhost:3000/dump/landing/tailwind.min.css">
    <style type="text/css" id="bs-recompiled-css"></style>
    <style type="text/css" id="bs-custom-css"></style>


    <link href="http://localhost:3000/dump/dashboard/shuffle-preview.1f8cac6f.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer=""></script>
    <script src="http://localhost:3000/dump/dashboard/onsite.js"></script>
    <script src="http://localhost:3000/dump/dashboard/runtime.68afddf3.js" defer=""></script>
    <script src="http://localhost:3000/dump/dashboard/tailwind.e509ab58.js" defer=""></script>

</head>

<body id="page" class="has-vertical-navigation antialiased font-body bg-body text-body">
    <div class="" id="content">

        <section data-section-id="1" data-share="" data-category="vertical-nav" data-component-id="33d42e93_02_awz"
            class="relative bg-white" data-container="1" x-data="{ mobileNavOpen: false, nav: '' }"
            x-init="nav = $refs.nav1.textContent">
    
            <%- include('partials/navbar.ejs') %>

            <%- include('partials/sidebar.ejs') %>

            <div class="mx-auto xl:ml-xss xl:pl-4">
                <section data-section-id="2" data-share="" data-category="title" data-component-id="25412442_01_awz" class="py-4 bg-white overflow-hidden">
                    <div class="container px-4 mx-auto">
                      <h1 class="font-heading mb-1 text-2xl font-semibold" data-config-id="txt-aaf232-1">Welcome John 👋</h1>
                      <p class="text-sm text-neutral-500" data-config-id="txt-aaf232-2">Check today’s sales report</p>
                    </div>
                  </section>

                <section data-category="cards"
                    class="py-4 overflow-hidden">
                    <div class="container px-4 mx-auto">
                        <div class="flex flex-wrap items-center justify-between mb-10 -m-2">
                            <div class="w-auto p-2">
                                <h2 class="font-heading text-3xl font-semibold" data-config-id="txt-6ac9a3-1">Design new
                                    dashboard tools</h2>
                            </div>
                            <div class="w-auto p-2">
                                <a class="flex flex-wrap items-center hover:text-neutral-500" href="#">
                                    <span class="mr-2.5" data-config-id="txt-6ac9a3-8">Find more trading tools</span>
                                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-1">
                                        <path
                                            d="M9.83333 3.33331L14.5 7.99998M14.5 7.99998L9.83333 12.6666M14.5 7.99998L2.5 7.99998"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-wrap -m-3">
                            <div class="w-full sm:w-1/3 p-3">
                                <a class="inline-block h-full bg-white border overflow-hidden rounded-xl" href="#">
                                    <img class="w-full" src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-media3.png" alt=""
                                        data-config-id="img-6ac9a3-1">
                                    <div class="p-6">
                                        <p class="mb-8 text-xl font-medium" data-config-id="txt-6ac9a3-2">Management
                                            tool that tracks, gathers, and displays business data</p>
                                        <div class="flex flex-wrap items-center justify-between -m-2">
                                            <div class="w-auto p-2">
                                                <p class="text-neutral-500" data-config-id="txt-6ac9a3-3">Cameron
                                                    Williamson</p>
                                            </div>
                                            <div class="w-auto p-2">
                                                <img src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-avatar.png" alt=""
                                                    data-config-id="img-6ac9a3-2">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-full sm:w-1/3 p-3">
                                <a class="inline-block h-full bg-white border overflow-hidden rounded-xl" href="#">
                                    <img class="w-full" src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-media.png" alt=""
                                        data-config-id="img-6ac9a3-3">
                                    <div class="p-6">
                                        <p class="mb-8 text-xl font-medium" data-config-id="txt-6ac9a3-4">Management
                                            tool that tracks, gathers, and displays business data</p>
                                        <div class="flex flex-wrap items-center justify-between -m-2">
                                            <div class="w-auto p-2">
                                                <p class="text-neutral-500" data-config-id="txt-6ac9a3-5">Devon Lane</p>
                                            </div>
                                            <div class="w-auto p-2">
                                                <img src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-avatar2.png" alt=""
                                                    data-config-id="img-6ac9a3-4">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="w-full sm:w-1/3 p-3">
                                <a class="inline-block h-full bg-white border overflow-hidden rounded-xl" href="#">
                                    <img class="w-full" src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-media2.png" alt=""
                                        data-config-id="img-6ac9a3-5">
                                    <div class="p-6">
                                        <p class="mb-8 text-xl font-medium" data-config-id="txt-6ac9a3-6">Management
                                            tool that tracks, gathers, and displays business data</p>
                                        <div class="flex flex-wrap items-center justify-between -m-2">
                                            <div class="w-auto p-2">
                                                <p class="text-neutral-500" data-config-id="txt-6ac9a3-7">Cody Fisher
                                                </p>
                                            </div>
                                            <div class="w-auto p-2">
                                                <img src="https://static.shuffle.dev/components/preview/301873e0-a368-47b6-9fa9-97796d96ba5b/assets/public/dashy-assets/images/card-avatar.png" alt=""
                                                    data-config-id="img-6ac9a3-6">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section data-category="cards"
                    class="py-4 overflow-hidden" x-data="{ slideWidth: 0, activeSlide: 0, slideCount: 3 }">
                    <div class="container px-4 mx-auto">
                        <div class="relative bg-white overflow-hidden border rounded-xl">
                            <div class="absolute z-10 right-7 top-4">
                                <a x-on:click.prevent="activeSlide > 0 ? (activeSlide -= 1, slideWidth -= $refs['slide' + (activeSlide + 1)].offsetWidth) : null"
                                    class="inline-flex mr-3.5 text-neutral-300 hover:text-neutral-400" href="#">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-1">
                                        <path
                                            d="M7.62623 16.5405C8.01675 16.931 8.64992 16.931 9.04044 16.5405C9.43096 16.1499 9.43096 15.5168 9.04044 15.1262L7.62623 16.5405ZM2.5 10L1.79289 9.29291C1.40237 9.68344 1.40237 10.3166 1.79289 10.7071L2.5 10ZM9.04044 4.87379C9.43096 4.48327 9.43096 3.8501 9.04044 3.45958C8.64992 3.06906 8.01675 3.06906 7.62623 3.45958L9.04044 4.87379ZM17.5 11C18.0523 11 18.5 10.5523 18.5 10C18.5 9.44774 18.0523 9.00002 17.5 9.00002V11ZM9.04044 15.1262L3.20711 9.29291L1.79289 10.7071L7.62623 16.5405L9.04044 15.1262ZM3.20711 10.7071L9.04044 4.87379L7.62623 3.45958L1.79289 9.29291L3.20711 10.7071ZM2.5 11L17.5 11V9.00002L2.5 9.00002L2.5 11Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </a>
                                <a x-on:click.prevent="activeSlide < slideCount - 1 ? (activeSlide += 1, slideWidth += $refs['slide' + activeSlide].offsetWidth) : activeSlide = slideCount - 1"
                                    class="inline-flex text-neutral-300 hover:text-neutral-400" href="#">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-2">
                                        <path
                                            d="M12.3738 3.45958C11.9832 3.06906 11.3501 3.06906 10.9596 3.45958C10.569 3.8501 10.569 4.48327 10.9596 4.87379L12.3738 3.45958ZM17.5 10L18.2071 10.7071C18.3946 10.5196 18.5 10.2652 18.5 10C18.5 9.7348 18.3946 9.48045 18.2071 9.29291L17.5 10ZM10.9596 15.1262C10.569 15.5168 10.569 16.1499 10.9596 16.5405C11.3501 16.931 11.9832 16.931 12.3738 16.5405L10.9596 15.1262ZM2.5 9.00002C1.94772 9.00002 1.5 9.44773 1.5 10C1.5 10.5523 1.94772 11 2.5 11L2.5 9.00002ZM10.9596 4.87379L16.7929 10.7071L18.2071 9.29291L12.3738 3.45958L10.9596 4.87379ZM16.7929 9.29291L10.9596 15.1262L12.3738 16.5405L18.2071 10.7071L16.7929 9.29291ZM17.5 9.00002L2.5 9.00002L2.5 11L17.5 11V9.00002Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="">
                                <div :style="'transform: translateX(-' + slideWidth + 'px)'"
                                    class="flex transition-transform duration-500 ease-in-out"
                                    style="transform: translateX(-0px)">
                                    <div x-ref="slide1" class="flex-shrink-0 px-7 pt-4 pb-7 w-full">
                                        <div class="flex flex-wrap items-center justify-between mb-1 -m-2">
                                            <div class="w-auto p-2">
                                                <h3 class="font-heading text-lg font-semibold"
                                                    data-config-id="txt-6ac9a3-1">Learn New Skills</h3>
                                            </div>
                                        </div>
                                        <p class="mb-7 text-neutral-500" data-config-id="txt-6ac9a3-4">You might want to
                                            consider downloading a few UI kits for web or app design</p>
                                        <a class="inline-flex flex-wrap items-center px-5 py-3 text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300"
                                            href="#">
                                            <svg class="mr-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-3">
                                                <path
                                                    d="M7.18003 11.6762C5.8586 12.6418 4 11.6981 4 10.0614V5.27203C4 3.63536 5.8586 2.69158 7.18003 3.65724L10.457 6.05193C11.5503 6.85087 11.5503 8.48255 10.457 9.28149L7.18003 11.6762Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            <span class="font-medium" data-config-id="txt-6ac9a3-7">Watch 1 Min
                                                Video</span>
                                        </a>
                                    </div>
                                    <div x-ref="slide2" class="flex-shrink-0 px-7 pt-4 pb-7 w-full">
                                        <div class="flex flex-wrap items-center justify-between mb-1 -m-2">
                                            <div class="w-auto p-2">
                                                <h3 class="font-heading text-lg font-semibold"
                                                    data-config-id="txt-6ac9a3-2">Free UI kits</h3>
                                            </div>
                                        </div>
                                        <p class="mb-7 text-neutral-500" data-config-id="txt-6ac9a3-5">You might want to
                                            consider downloading a few UI kits for web or app design</p>
                                        <a class="inline-flex flex-wrap items-center px-5 py-3 text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300"
                                            href="#">
                                            <svg class="mr-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-4">
                                                <path
                                                    d="M7.18003 11.6762C5.8586 12.6418 4 11.6981 4 10.0614V5.27203C4 3.63536 5.8586 2.69158 7.18003 3.65724L10.457 6.05193C11.5503 6.85087 11.5503 8.48255 10.457 9.28149L7.18003 11.6762Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            <span class="font-medium" data-config-id="txt-6ac9a3-8">Watch 1 Min
                                                Video</span>
                                        </a>
                                    </div>
                                    <div x-ref="slide3" class="flex-shrink-0 px-7 pt-4 pb-7 w-full">
                                        <div class="flex flex-wrap items-center justify-between mb-1 -m-2">
                                            <div class="w-auto p-2">
                                                <h3 class="font-heading text-lg font-semibold"
                                                    data-config-id="txt-6ac9a3-3">Marketing your bussiness</h3>
                                            </div>
                                        </div>
                                        <p class="mb-7 text-neutral-500" data-config-id="txt-6ac9a3-6">You might want to
                                            consider downloading a few UI kits for web or app design</p>
                                        <a class="inline-flex flex-wrap items-center px-5 py-3 text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300"
                                            href="#">
                                            <svg class="mr-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-6ac9a3-5">
                                                <path
                                                    d="M7.18003 11.6762C5.8586 12.6418 4 11.6981 4 10.0614V5.27203C4 3.63536 5.8586 2.69158 7.18003 3.65724L10.457 6.05193C11.5503 6.85087 11.5503 8.48255 10.457 9.28149L7.18003 11.6762Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            <span class="font-medium" data-config-id="txt-6ac9a3-9">Watch 1 Min
                                                Video</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>
    </div>


</body>
</html>
