<!DOCTYPE html>
<html class="screen-preview">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Landing Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" id="bs-base-fonts">
    <link rel="stylesheet" href="/dump/landing/tailwind.min.css" id="bs-base-css">
    <style type="text/css" id="bs-recompiled-css"></style>
    <style type="text/css" id="bs-custom-css"></style>


    <link rel="stylesheet" href="/dump/landing/fontello.css">
    <link rel="stylesheet" href="/dump/landing/font.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer=""></script>
</head>

<body id="page" class="antialiased font-body bg-body text-body">
    <div class="" id="content">

        <section data-section-id="1" data-share="" data-category="headers" data-component-id="44d0b9e2_05_awz"
            class="p-5" data-loaded="true">
            <div class="rounded-2xl px-4 md:px-14 pb-16 bg-center bg-no-repeat bg-cover relative"
                style="background-image: url(https://imgproxy.natucate.com/x6BP9LrwJpVaH0lo8v9Zy4CaBUCNkl2PwjhS0Iz7B8A/rs:fill/g:ce/w:1780/h:1001/aHR0cHM6Ly93d3cubmF0dWNhdGUuY29tL21lZGlhL3BhZ2VzL2Jsb2cvcmF0Z2ViZXIvMmEzMzMxN2YtY2FjNi00YjQ0LTk1NjYtNjhmZDRhYzFlNWRjLzVmMmVmZjU5NDctMTY3OTQ4NTg3NS9ibG9nLXJhdGdlYmVyLWluZGllbi1rZXJhbGEtdmVycmFuZGhhLWdoYXQtaW5kaWVuLW5hdHVjYXRlLmpwZw);"
                data-config-id="div-378f37-1">
                <div x-data="{ mobileNavOpen: false }">
                    <nav class="relative p-4">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center gap-3">
                                <a href="#" class="inline-block">
                                    <img class="h-7"
                                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/consulty-logo.svg"
                                        alt="" data-config-id="img-378f37-1">
                                </a>
                                <span
                                    class="hidden xl:block px-2 py-1 bg-orange-50 border border-orange-100 rounded-3xl text-orange-500 text-xs font-medium tracking-tight"
                                    data-config-id="txt-378f37-7">Join our team!</span>
                            </div>
                            <ul class="hidden xl:flex items-center gap-2">
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-100 group transition duration-200 rounded-full">
                                        <div class="flex items-center gap-2">
                                            <span
                                                class="text-white group-hover:text-black text-sm font-medium tracking-tight"
                                                data-config-id="txt-378f37-8">Our Offerings</span>
                                            <div class="text-white group-hover:text-black transition duration-200">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                    viewBox="0 0 17 16" fill="none" data-config-id="svg-378f37-1">
                                                    <path d="M12.848 6L8.18132 10.6667L3.51465 6" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-100 hover:text-black transition duration-200 text-white text-sm font-medium tracking-tight rounded-full"
                                        data-config-id="txt-378f37-3">Success Stories</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-100 hover:text-black transition duration-200 text-white text-sm font-medium tracking-tight rounded-full"
                                        data-config-id="txt-378f37-4">Help Center</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-100 group transition duration-200 rounded-full">
                                        <div class="flex items-center gap-2">
                                            <span
                                                class="text-white group-hover:text-black text-sm font-medium tracking-tight"
                                                data-config-id="txt-378f37-9">Useful Materials</span>
                                            <div class="text-white group-hover:text-black transition duration-200">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                    viewBox="0 0 17 16" fill="none" data-config-id="svg-378f37-2">
                                                    <path d="M12.848 6L8.18132 10.6667L3.51465 6" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <a href="#"
                                class="rounded-full border border-gray-200 bg-white px-5 py-3 h-14 hover:bg-gray-50 focus:ring-4 focus:ring-gray-200 hidden xl:inline-flex items-center justify-center gap-2 transition duration-200">
                                <span class="text-sm font-semibold tracking-tight"
                                    data-config-id="txt-378f37-10">Request a Consultation</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none" data-config-id="svg-378f37-3">
                                    <path
                                        d="M14 6.66666H7.33333C4.38781 6.66666 2 9.05447 2 12V13.3333M14 6.66666L10 10.6667M14 6.66666L10 2.66666"
                                        stroke="black" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </a>
                            <a x-on:click.prevent="mobileNavOpen = !mobileNavOpen" href="#" class="xl:hidden">
                                <svg class="navbar-burger text-white" width="51" height="51" viewBox="0 0 56 56"
                                    fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-4">
                                    <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                                    <path d="M37 32H19M37 24H19" stroke="black" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                    </nav>
                    <div :class="{'hidden': !mobileNavOpen}"
                        class="hidden fixed top-0 left-0 bottom-0 w-5/6 max-w-xs z-50">
                        <div x-on:click.prevent="mobileNavOpen = !mobileNavOpen"
                            class="fixed inset-0 bg-black opacity-20"></div>
                        <nav class="relative p-8 w-full h-full bg-white overflow-y-auto">
                            <div class="flex items-center justify-between">
                                <a href="#" class="inline-block">
                                    <img class="h-7"
                                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/consulty-logo2.svg"
                                        alt="" data-config-id="img-378f37-2">
                                </a>
                                <a x-on:click.prevent="mobileNavOpen = !mobileNavOpen" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-5">
                                        <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                            <ul class="flex flex-col gap-12 py-12">
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-50 transition duration-200 rounded-full">
                                        <div class="flex items-center gap-2">
                                            <span class="text-sm font-medium tracking-tight"
                                                data-config-id="txt-378f37-11">Our Offerings</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                viewBox="0 0 17 16" fill="none" data-config-id="svg-378f37-6">
                                                <path d="M12.848 6L8.18132 10.6667L3.51465 6" stroke="black"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-50 transition duration-200 text-sm font-medium tracking-tight rounded-full"
                                        data-config-id="txt-378f37-5">Success Stories</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-50 transition duration-200 text-sm font-medium tracking-tight rounded-full"
                                        data-config-id="txt-378f37-6">Help Center</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="inline-block py-2 px-3 hover:bg-gray-50 transition duration-200 rounded-full">
                                        <div class="flex items-center gap-2">
                                            <span class="text-sm font-medium tracking-tight"
                                                data-config-id="txt-378f37-12">Useful Materials</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                viewBox="0 0 17 16" fill="none" data-config-id="svg-378f37-7">
                                                <path d="M12.848 6L8.18132 10.6667L3.51465 6" stroke="black"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="flex flex-col gap-4">
                                <a href="#"
                                    class="rounded-full bg-black px-5 py-3 h-14 hover:bg-orange-600 focus:bg-orange-500 focus:ring-4 focus:ring-orange-200 inline-flex items-center justify-center gap-2 transition duration-200">
                                    <span class="text-white text-sm font-semibold tracking-tight"
                                        data-config-id="txt-378f37-13">Request a Consultation</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none" data-config-id="svg-378f37-8">
                                        <path
                                            d="M14 6.66666H7.33333C4.38781 6.66666 2 9.05447 2 12V13.3333M14 6.66666L10 10.6667M14 6.66666L10 2.66666"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="pt-80">
                    <h1 class="font-heading tracking-tight text-5xl md:text-7xl text-white font-medium max-w-xs md:max-w-xl mb-6"
                        data-config-id="txt-378f37-1">Echoes of India.</h1>
                    <p class="tracking-tight text-white text-lg mb-8 max-w-md" data-config-id="txt-378f37-2">Not just
                        building a travel app, but a cultural movement platform.</p>
                    <a href="#"
                        class="rounded-full border border-gray-200 bg-white px-6 py-4 h-16 hover:bg-gray-50 focus:ring-4 focus:ring-gray-200 inline-flex items-center justify-center gap-2 transition duration-200">
                        <span class="font-bold tracking-tight" data-config-id="txt-378f37-14">Schedule a Call</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            data-config-id="svg-378f37-9">
                            <path
                                d="M14 6.66666H7.33333C4.38781 6.66666 2 9.05447 2 12V13.3333M14 6.66666L10 10.6667M14 6.66666L10 2.66666"
                                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
                <div class="hidden md:block absolute bottom-8 right-8">
                    <img style="height:200px;"
                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/headers/arrow-circle2.svg"
                        alt="" data-config-id="img-378f37-3">
                </div>
            </div>
        </section>

        <section data-section-id="3" data-share="" data-category="about" data-component-id="d8076420_06_awz"
            class="pt-10 pb-32 px-8 md:px-24">
            <div class="flex flex-wrap -m-4 mb-16">
                <div class="w-full lg:w-1/3 p-4">
                    <img class="rounded-2xl object-cover w-full" style="height:335px;"
                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/about/picture11.png"
                        alt="" data-config-id="img-a4262e-1">
                </div>
                <div class="w-full lg:w-2/3 p-4">
                    <img class="rounded-2xl object-cover w-full" style="height:422px;"
                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/about/picture12.png"
                        alt="" data-config-id="img-a4262e-2">
                </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/3 p-4">
                    <p class="tracking-tight mb-4" data-config-id="txt-a4262e-2">What we do</p>
                    <h1 class="tracking-tight font-heading text-4xl md:text-6xl font-medium"
                        data-config-id="txt-a4262e-1">About Us</h1>
                </div>
                <div class="w-full lg:w-2/3 p-4">
                    <div class="flex flex-wrap -m-4">
                        <div class="w-full lg:w-1/2 p-4">
                            <div class="pt-6 border-t border-black">
                                <p class="text-lg" data-config-id="txt-a4262e-3">Established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The point
                                    of using is that it has distribution.</p>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 p-4">
                            <div class="pt-6 border-t border-black">
                                <p class="text-lg" data-config-id="txt-a4262e-4"> It is a long established fact that a
                                    reader will be distracted by the readable content of a page when looking at its
                                    layout. The point of using is that it has distribution.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section data-section-id="2" data-share="" data-category="cta" data-component-id="a6fd389b_01_awz"
            class="px-8 md:px-24 py-10">
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/2 p-4">
                    <div class="flex flex-col justify-between gap-8 h-full">
                        <div>
                            <h1 class="font-heading tracking-tight text-4xl md:text-6xl font-medium mb-8 max-w-sm md:max-w-lg"
                                data-config-id="txt-061ab7-1">Get help from the industry experts.</h1>
                            <p class="tracking-tight text-gray-700 text-lg mb-8 max-w-lg" data-config-id="txt-061ab7-3">
                                We are passionate about transforming spaces into extraordinary experiences. With a
                                seamless fusion of architecture and interior design.</p>
                            <a href="#"
                                class="bg-black h-16 rounded-full px-6 py-4 inline-flex items-center justify-center gap-2 hover:bg-orange-600 focus:bg-orange-500 focus:ring-4 focus:ring-orange-200 transition duration-200">
                                <span class="tracking-tight font-bold text-white" data-config-id="txt-061ab7-6">Book A
                                    Free Call</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                    fill="none" data-config-id="svg-061ab7-1">
                                    <path
                                        d="M14 6.66669H7.33333C4.38781 6.66669 2 9.0545 2 12V13.3334M14 6.66669L10 10.6667M14 6.66669L10 2.66669"
                                        stroke="white" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex flex-wrap items-center gap-6">
                            <h2 class="font-heading tracking-tight text-4xl md:text-6xl font-medium"
                                data-config-id="txt-061ab7-2">159%</h2>
                            <div>
                                <p class="tracking-tight text-lg font-semibold" data-config-id="txt-061ab7-4">Average
                                    Revenue</p>
                                <p class="tracking-tight text-gray-600" data-config-id="txt-061ab7-5">From customers
                                    worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 p-4">
                    <img class="w-full object-cover rounded-2xl" style="height:815px;"
                        src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/cta/picture1.png"
                        alt="" data-config-id="img-061ab7-1">
                </div>
            </div>
        </section>


        <section data-section-id="1" data-share="" data-category="services" data-component-id="2db5765a_04_awz"
            class="px-8 md:px-24 py-32">
            <div class="flex flex-wrap -m-4 mb-32">
                <div class="w-full md:w-1/2 p-4">
                    <h1 class="tracking-tight font-heading text-6xl md:text-7xl font-medium max-w-xs"
                        data-config-id="txt-ef1c4b-1">Our services</h1>
                </div>
                <div class="w-full md:w-1/2 p-4">
                    <p class="text-gray-900 tracking-tight mb-8 max-w-lg" data-config-id="txt-ef1c4b-2">There are many
                        variations of passages you the blocks needed to create a truly professional website for your
                        template. Many desktop publishing packages and web page editors.</p>
                    <a href="#" class="group inline-block">
                        <div class="flex items-center gap-2">
                            <span class="font-semibold text-black group-hover:text-opacity-80 transition duration-200"
                                data-config-id="txt-ef1c4b-23">See All Services</span>
                            <div class="text-black group-hover:text-opacity-80 transition duration-200">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16"
                                    fill="none" data-config-id="svg-ef1c4b-1">
                                    <path d="M6.5 3.33341L11.1667 8.00008L6.5 12.6667" stroke="currentColor"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- <div data-section-id="2" data-share="" data-category="logo-clouds" data-component-id="2c84e5fe_02_awz"
            class="px-8 md:px-24 py-24 bg-black" data-loaded="true">
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/2 p-4">
                    <p class="tracking-tight text-white text-2xl font-medium max-w-xs" data-config-id="txt-b15a2a-1">
                        Chosen by 2400+ brands &amp; companies globally</p>
                </div>
                <div class="w-full lg:w-1/2 p-4">
                    <div class="flex flex-wrap -m-4">
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white1.svg"
                                alt="" data-config-id="img-b15a2a-1">
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white2.svg"
                                alt="" data-config-id="img-b15a2a-2">
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white3.svg"
                                alt="" data-config-id="img-b15a2a-3">
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white4.svg"
                                alt="" data-config-id="img-b15a2a-4">
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white5.svg"
                                alt="" data-config-id="img-b15a2a-5">
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="h-12 mx-auto flex-shrink-0"
                                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/logos/logoipsum-white6.svg"
                                alt="" data-config-id="img-b15a2a-6">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <section data-section-id="5" data-share="" data-category="cta" data-component-id="a6fd389b_09_awz"
            class="py-24 lg:py-32 bg-white overflow-hidden" data-loaded="true">
            <div class="container px-4 mx-auto">
                <div class="relative p-12 bg-black overflow-hidden rounded-2xl">
                    <img class="absolute top-0 right-0"
                        src="https://images.unsplash.com/photo-1702602515080-c73bfcc32a1b?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNzI3OTl8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=722&amp;h=526"
                        alt="" data-config-id="img-061ab7-1">
                    <div class="relative">
                        <h2 class="font-heading mb-2 text-6xl text-white tracking-tighter"
                            data-config-id="txt-061ab7-1">Get Started!</h2>
                        <a class="inline-block mb-32 lg:mb-48 px-5 py-4 text-white font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200"
                            href="#" data-config-id="txt-061ab7-3">Start your adventure with a Free Trial</a>
                        <ul class="flex flex-wrap -m-4">
                            <li class="p-4">
                                <a class="flex flex-wrap" href="#">
                                    <svg class="mr-3" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-061ab7-1">
                                        <path
                                            d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <span class="text-white tracking-tight" data-config-id="txt-061ab7-4">Effortless
                                        Teamwork</span>
                                </a>
                            </li>
                            <li class="p-4">
                                <a class="flex flex-wrap" href="#">
                                    <svg class="mr-3" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-061ab7-2">
                                        <path
                                            d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <span class="text-white tracking-tight" data-config-id="txt-061ab7-5">Tailored
                                        Journeys</span>
                                </a>
                            </li>
                            <li class="p-4">
                                <a class="flex flex-wrap" href="#">
                                    <svg class="mr-3" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-061ab7-3">
                                        <path
                                            d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <span class="text-white tracking-tight" data-config-id="txt-061ab7-6">Insightful
                                        Analytics</span>
                                </a>
                            </li>
                            <li class="p-4">
                                <a class="flex flex-wrap" href="#">
                                    <svg class="mr-3" width="26" height="26" viewBox="0 0 26 26" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" data-config-id="svg-061ab7-4">
                                        <path
                                            d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <span class="text-white tracking-tight" data-config-id="txt-061ab7-7">User-Friendly
                                        Design</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <div data-section-id="3" data-share="" data-category="features" data-component-id="4d2f33a1_02_awz"
            class="px-8 md:px-24 py-20" data-loaded="true">
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/3 p-4">
                    <div class="bg-orange-50 rounded-2xl p-10 h-full">
                        <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center mb-10">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38"
                                fill="none" data-config-id="svg-5b8a8b-1">
                                <path
                                    d="M19 6.89411C20.1605 5.57928 21.8584 4.75 23.75 4.75C27.2478 4.75 30.0833 7.58553 30.0833 11.0833C30.0833 14.5811 27.2478 17.4167 23.75 17.4167C21.8584 17.4167 20.1605 16.5874 19 15.2726M23.75 33.25H4.75V31.6667C4.75 26.42 9.00329 22.1667 14.25 22.1667C19.4967 22.1667 23.75 26.42 23.75 31.6667V33.25ZM23.75 33.25H33.25V31.6667C33.25 26.42 28.9967 22.1667 23.75 22.1667C22.0196 22.1667 20.3973 22.6293 19 23.4376M20.5833 11.0833C20.5833 14.5811 17.7478 17.4167 14.25 17.4167C10.7522 17.4167 7.91667 14.5811 7.91667 11.0833C7.91667 7.58553 10.7522 4.75 14.25 4.75C17.7478 4.75 20.5833 7.58553 20.5833 11.0833Z"
                                    stroke="#FF8A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </div>
                        <p class="tracking-tight text-xl font-semibold mb-4" data-config-id="txt-5b8a8b-1">Wrexa
                            Consultancy</p>
                        <p class="tracking-tight text-gray-700 max-w-xs" data-config-id="txt-5b8a8b-2">Wrexa is a long
                            established fact that a reader will be distracted by the readable content of a page when
                            looking.</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-4">
                    <div class="bg-blue-50 rounded-2xl p-10 h-full">
                        <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center mb-10">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38"
                                fill="none" data-config-id="svg-5b8a8b-2">
                                <path
                                    d="M14.25 19H23.75M14.25 25.3333H23.75M26.9166 33.25H11.0833C9.33439 33.25 7.91663 31.8322 7.91663 30.0833V7.91667C7.91663 6.16776 9.33439 4.75 11.0833 4.75H19.9275C20.3474 4.75 20.7501 4.91682 21.047 5.21375L29.6195 13.7863C29.9165 14.0832 30.0833 14.4859 30.0833 14.9058V30.0833C30.0833 31.8322 28.6655 33.25 26.9166 33.25Z"
                                    stroke="#FF8A0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </div>
                        <p class="tracking-tight text-xl font-semibold mb-4" data-config-id="txt-5b8a8b-3">Wrexa Audit
                            &amp; assurance</p>
                        <p class="tracking-tight text-gray-700 max-w-xs" data-config-id="txt-5b8a8b-4">Wrexa is a long
                            established fact that a reader will be distracted by the readable content of a page when
                            looking.</p>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-4">
                    <div class="bg-gray-50 rounded-2xl p-10 h-full">
                        <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center mb-10">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38"
                                fill="none" data-config-id="svg-5b8a8b-3">
                                <path
                                    d="M22.3592 14.9054C22.7212 15.3225 23.3528 15.3673 23.7699 15.0053C24.1871 14.6433 24.2318 14.0118 23.8698 13.5946L22.3592 14.9054ZM15.6408 23.0946C15.2788 22.6775 14.6473 22.6327 14.2301 22.9947C13.813 23.3567 13.7682 23.9882 14.1302 24.4054L15.6408 23.0946ZM20 11.0833C20 10.531 19.5523 10.0833 19 10.0833C18.4477 10.0833 18 10.531 18 11.0833H20ZM18 26.9166C18 27.4689 18.4477 27.9167 19 27.9167C19.5523 27.9167 20 27.469 20 26.9167L18 26.9166ZM32.25 19C32.25 26.3178 26.3178 32.25 19 32.25V34.25C27.4223 34.25 34.25 27.4223 34.25 19H32.25ZM19 32.25C11.6822 32.25 5.75 26.3178 5.75 19H3.75C3.75 27.4223 10.5777 34.25 19 34.25V32.25ZM5.75 19C5.75 11.6822 11.6822 5.75 19 5.75V3.75C10.5777 3.75 3.75 10.5777 3.75 19H5.75ZM19 5.75C26.3178 5.75 32.25 11.6822 32.25 19H34.25C34.25 10.5777 27.4223 3.75 19 3.75V5.75ZM19 18C17.8582 18 16.8698 17.6897 16.1959 17.2405C15.5151 16.7866 15.25 16.2694 15.25 15.8333H13.25C13.25 17.1462 14.0482 18.2123 15.0865 18.9046C16.1319 19.6015 17.5184 20 19 20V18ZM15.25 15.8333C15.25 15.3973 15.5151 14.8801 16.1959 14.4262C16.8698 13.977 17.8582 13.6667 19 13.6667V11.6667C17.5184 11.6667 16.1319 12.0652 15.0865 12.7621C14.0482 13.4544 13.25 14.5205 13.25 15.8333H15.25ZM19 13.6667C20.5515 13.6667 21.7763 14.2336 22.3592 14.9054L23.8698 13.5946C22.8102 12.3734 20.9648 11.6667 19 11.6667V13.6667ZM19 20C20.1418 20 21.1303 20.3103 21.8041 20.7595C22.4849 21.2134 22.75 21.7306 22.75 22.1667H24.75C24.75 20.8538 23.9518 19.7877 22.9135 19.0954C21.8681 18.3985 20.4816 18 19 18V20ZM18 11.0833V12.6667H20V11.0833H18ZM18 25.3333L18 26.9166L20 26.9167L20 25.3334L18 25.3333ZM19 24.3333C17.4485 24.3333 16.2237 23.7664 15.6408 23.0946L14.1302 24.4054C15.1899 25.6266 17.0352 26.3333 19 26.3333L19 24.3333ZM22.75 22.1667C22.75 22.6027 22.4849 23.1199 21.8041 23.5738C21.1303 24.023 20.1418 24.3333 19 24.3333V26.3333C20.4816 26.3333 21.8681 25.9348 22.9135 25.2379C23.9519 24.5456 24.75 23.4795 24.75 22.1667H22.75ZM18 12.6667L18 25.3333L20 25.3333L20 12.6667L18 12.6667Z"
                                    fill="#FF8A0A"></path>
                            </svg>
                        </div>
                        <p class="tracking-tight text-xl font-semibold mb-4" data-config-id="txt-5b8a8b-5">Wrexa Tax
                            planning services</p>
                        <p class="tracking-tight text-gray-700 max-w-xs" data-config-id="txt-5b8a8b-6">Wrexa is a long
                            established fact that a reader will be distracted by the readable content of a page when
                            looking.</p>
                    </div>
                </div>
            </div>
        </div>

        <section data-section-id="4" data-share="" data-category="team" data-component-id="cfe1f0ed_02_awz"
            class="px-8 md:px-24 py-32" data-loaded="true">
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/3 p-4">
                    <h1 class="font-heading tracking-tight text-5xl font-medium mb-4" data-config-id="txt-ca8b22-1">Meet
                        Our Team</h1>
                    <p class="tracking-tight text-gray-600 max-w-sm" data-config-id="txt-ca8b22-2">Wrexa provides the
                        tools you need to craft a stunning website, landing page, or admin panel with ease.</p>
                </div>
                <div class="w-full lg:w-2/3 p-4">
                    <div class="flex flex-wrap -m-4">
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-1">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-3">Kristin
                                Watson</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-4">Medical
                                Assistant</p>
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-2">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-5">Darrell
                                Steward</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-6">Marketing
                                Coordinator</p>
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-3">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-7">Jenny
                                Wilson</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-8">Dog Trainer
                            </p>
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-4">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-9">Esther
                                Howard</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-10">President of
                                Sales</p>
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-5">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-11">Marvin
                                McKinney</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-12">Web Designer
                            </p>
                        </div>
                        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                            <img class="rounded-2xl w-full object-cover mb-5" style="height:420px;"
                                src="https://images.unsplash.com/photo-1492366254240-43affaefc3e3?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-ca8b22-6">
                            <p class="text-lg tracking-tight font-semibold mb-1" data-config-id="txt-ca8b22-13">Wade
                                Warren</p>
                            <p class="tracking-tight text-gray-600 text-sm" data-config-id="txt-ca8b22-14">Nursing
                                Assistant</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div data-section-id="5" data-share="" data-category="testimonials" data-component-id="14186a75_03_awz"
            class="px-8 md:px-24 py-32" data-loaded="true">
            <div class="flex flex-wrap -m-4">
                <div class="w-full lg:w-1/3 p-4">
                    <div class="lg:pr-6 pb-6 lg:pb-0 lg:border-r border-b lg:border-b-0 border-gray-200 h-full">
                        <img class="h-7 mb-8" src="consulty-assets/testimonials/quote-icon2.svg" alt=""
                            data-config-id="img-e9358d-1">
                        <p class="tracking-tight text-xl font-semibold mb-8" data-config-id="txt-e9358d-1">Impressive
                            Outcome</p>
                        <div class="bg-gray-200 h-px w-10 mb-8"></div>
                        <p class="tracking-tight mb-6 max-w-sm" data-config-id="txt-e9358d-2">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                        <div class="flex flex-wrap items-center gap-4">
                            <img class="h-16"
                                src="https://images.unsplash.com/photo-1473655551229-a39d1a982885?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-e9358d-2">
                            <div>
                                <p class="tracking-tight text-lg font-semibold" data-config-id="txt-e9358d-3">Marlon
                                    James</p>
                                <p class="text-gray-500 tracking-tight text-sm" data-config-id="txt-e9358d-4">CEO,
                                    Techfusion</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-4">
                    <div class="lg:pr-6 lg:pl-6 pb-6 lg:pb-0 lg:border-r border-b lg:border-b-0 border-gray-200 h-full">
                        <img class="h-7 mb-8" src="consulty-assets/testimonials/quote-icon2.svg" alt=""
                            data-config-id="img-e9358d-3">
                        <p class="tracking-tight text-xl font-semibold mb-8" data-config-id="txt-e9358d-5">Exceptional
                            Support!</p>
                        <div class="bg-gray-200 h-px w-10 mb-8"></div>
                        <p class="tracking-tight mb-6 max-w-sm" data-config-id="txt-e9358d-6">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                        <div class="flex flex-wrap items-center gap-4">
                            <img class="h-16"
                                src="https://images.unsplash.com/photo-1662522208023-8c517d0ba3c9?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-e9358d-4">
                            <div>
                                <p class="tracking-tight text-lg font-semibold" data-config-id="txt-e9358d-7">Evelyn
                                    Smith</p>
                                <p class="text-gray-500 tracking-tight text-sm" data-config-id="txt-e9358d-8">
                                    Co-Founder, Innovatech</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/3 p-4">
                    <div class="lg:pl-6 h-full">
                        <img class="h-7 mb-8" src="consulty-assets/testimonials/quote-icon2.svg" alt=""
                            data-config-id="img-e9358d-5">
                        <p class="tracking-tight text-xl font-semibold mb-8" data-config-id="txt-e9358d-9">Absolutely
                            Fantastic</p>
                        <div class="bg-gray-200 h-px w-10 mb-8"></div>
                        <p class="tracking-tight mb-6 max-w-sm" data-config-id="txt-e9358d-10">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                        <div class="flex flex-wrap items-center gap-4">
                            <img class="h-16"
                                src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                                alt="" data-config-id="img-e9358d-6">
                            <div>
                                <p class="tracking-tight text-lg font-semibold" data-config-id="txt-e9358d-11">Samantha
                                    Reed</p>
                                <p class="text-gray-500 tracking-tight text-sm" data-config-id="txt-e9358d-12">CEO,
                                    Nexgenix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section data-section-id="6" data-share="" data-category="cta" data-component-id="a6fd389b_02_awz"
            class="pt-32 pb-40 bg-black relative overflow-hidden" data-loaded="true">
            <img class="absolute bottom-0 left-0"
                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/cta/shapes.svg"
                alt="" data-config-id="img-061ab7-1">
            <img class="absolute top-0 left-1/2 transform -translate-x-1/2 object-cover" style="height:530px;"
                src="https://images.unsplash.com/photo-1516469079051-f47c73c24272?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDQxNDA5MjR8&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                alt="" data-config-id="img-061ab7-2">
            <div class="relative z-50">
                <div class="container mx-auto px-4">
                    <h1 class="font-heading tracking-tight text-center text-white text-4xl md:text-6xl font-medium mb-6 max-w-xl md:max-w-5xl mx-auto"
                        data-config-id="txt-061ab7-1">Elevate your business with Wrexa for Tailwind CSS</h1>
                    <p class="tracking-tight text-center text-gray-300 text-lg mb-10" data-config-id="txt-061ab7-2">
                        Boost your growth with a website that drives conversions</p>
                    <div class="flex justify-center">
                        <a href="#"
                            class="bg-white h-16 border border-gray-200 rounded-full px-6 py-4 inline-flex items-center justify-center gap-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-4 focus:ring-gray-200 transition duration-200">
                            <span class="tracking-tight font-bold" data-config-id="txt-061ab7-3">Schedule Your Free
                                Consultation</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none" data-config-id="svg-061ab7-1">
                                <path
                                    d="M14 6.66663H7.33333C4.38781 6.66663 2 9.05444 2 12V13.3333M14 6.66663L10 10.6666M14 6.66663L10 2.66663"
                                    stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section data-section-id="7" data-share="" data-category="footer" data-component-id="0a3fbd0e_04_awz"
            class="pt-72 sm:pt-32 pb-32 relative bg-black" data-loaded="true">
            <img class="absolute top-0 right-0"
                src="https://static.shuffle.dev/components/preview/8b38a944-ea35-4457-91ce-adc11322c7c4/assets/public/consulty-assets/footer/shapes3.svg"
                alt="" data-config-id="img-030184-1">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -m-4">
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="flex items-center flex-wrap gap-2 mb-32">
                            <h1 class="font-heading tracking-tight text-white text-4xl md:text-6xl font-medium"
                                data-config-id="txt-030184-1">Get in Touch</h1>
                            <a href="#" class="text-gray-700 hover:text-white transition duration-200">
                                <svg xmlns="http://www.w3.org/2000/svg" width="93" height="93" viewBox="0 0 93 93"
                                    fill="none" data-config-id="svg-030184-1">
                                    <path
                                        d="M36.7765 29.034L63.875 29.034M63.875 29.034L63.875 56.1325M63.875 29.034L29.0341 63.8749"
                                        stroke="currentColor" stroke-width="5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex flex-wrap justify-between gap-8">
                            <ul class="flex flex-col gap-4">
                                <li class="text-white tracking-tight" data-config-id="txt-030184-7">Call us at +319
                                    555-0115</li>
                                <li class="text-white tracking-tight" data-config-id="txt-030184-8">Email us at
                                    hello@consulty.co</li>
                                <li class="text-gray-500 tracking-tight max-w-xs" data-config-id="txt-030184-9">Visit us
                                    at 2118 Thornridge Cir. Syracuse, Connecticut 35624</li>
                            </ul>
                            <ul class="flex flex-col gap-4">
                                <li>
                                    <a href="#"
                                        class="text-white hover:text-orange-500 transition duration-200 tracking-tight"
                                        data-config-id="txt-030184-3">Connect on Facebook</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="text-white hover:text-orange-500 transition duration-200 tracking-tight"
                                        data-config-id="txt-030184-4">Follow us on Twitter</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="text-white hover:text-orange-500 transition duration-200 tracking-tight"
                                        data-config-id="txt-030184-5">Subscribe to our YouTube channel</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="text-white hover:text-orange-500 transition duration-200 tracking-tight"
                                        data-config-id="txt-030184-6">Follow us on Instagram</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="flex flex-col lg:justify-end lg:items-end h-full">
                            <p class="tracking-tight text-gray-500 text-sm" data-config-id="txt-030184-2"> 2023
                                Consulty. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>