<html class="screen-top">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Register</title>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" id="bs-base-fonts">
	<link rel="stylesheet" href="/dump/auth/flaro.css" id="bs-base-css">
	<style type="text/css" id="bs-recompiled-css"></style>
	<link rel="stylesheet" href="/dump/auth/auth.css">
	<style type="text/css" id="bs-custom-css"></style>

	<link href="/dump/auth/shuffle.1f8cac6f.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer=""></script>
	<script src="/dump/auth/auth_tailwind_config.js"></script>
	<style>
		body {
			font-family: 'Inter' !important;
		}
	</style>
</head>

<body id="page" class="antialiased font-body bg-body text-body">
	<div class="" id="content">

		<section data-section-id="2" data-share="" data-category="sign-up" data-component-id="6c5b97a6_02_awz"
			class="py-16 xl:pb-56 bg-white overflow-hidden">
			<div class="container px-4 mx-auto">
				<div class="text-center max-w-md mx-auto">
					<a class="mb-36 inline-block" href="#">
						<img src="flaro-assets/logos/flaro-logo-black-xl.svg" alt="" data-config-id="img-d82cac-1">
					</a>
					<h2 class="mb-4 text-6xl md:text-7xl text-center font-bold font-heading tracking-px-n leading-tight"
						data-config-id="txt-d82cac-1">Join for free</h2>
					<p class="mb-12 font-medium text-lg text-gray-600 leading-normal" data-config-id="txt-d82cac-2">
						Lorem ipsum dolor sit amet, to the con adipiscing. Volutpat tempor to the condim entum.</p>
					<form action="/register" method="POST">
						<label class="block mb-5">
							<input
								class="px-4 py-3.5 w-full text-gray-500 font-medium placeholder-gray-500 bg-white outline-none border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300"
								id="signUpInput2-1" type="text" placeholder="First &amp; Last Name"
								data-config-id="input-d82cac-1" name="username" required>
						</label>
						<label class="block mb-5">
							<input
								class="px-4 py-3.5 w-full text-gray-500 font-medium placeholder-gray-500 bg-white outline-none border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300"
								id="signUpInput2-2" type="text" placeholder="Email Address"
								data-config-id="input-d82cac-2" name="email" required>
						</label>
						<label class="block mb-5">
							<input
								class="px-4 py-3.5 w-full text-gray-500 font-medium placeholder-gray-500 bg-white outline-none border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300"
								id="signUpInput2-3" type="password" placeholder="Create Password"
								data-config-id="input-d82cac-3" name="password" required>
						</label>
						<label class="block mb-5">
							<input
								class="px-4 py-3.5 w-full text-gray-500 font-medium placeholder-gray-500 bg-white outline-none border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300"
								id="" type="number" placeholder="Age"
								data-config-id="input-d82cac-3" name="age" required>
						</label>
						<label class="block mb-5">
							<select name="gender" class="px-4 py-3.5 w-full text-gray-500 font-medium placeholder-gray-500 bg-white outline-none border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300">
								<option value="" selected="" disabled="">Select gender</option>        
								<option value="male">Male</option>        
								<option value="female">Female</option>
							</select>	
						</label>
						<button
							class="mb-8 py-4 px-9 w-full text-white font-semibold border border-indigo-700 rounded-xl shadow-4xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200"
							type="submit" data-config-id="txt-d82cac-5">Create Account</button>
						<p class="font-medium">
							<span data-config-id="txt-d82cac-4">Already have an account?</span>
							<a class="text-indigo-600 hover:text-indigo-700" href="/login"
								data-config-id="txt-d82cac-3">Login</a>
						</p>
					</form>
				</div>
			</div>
		</section>

	</div>
</body>

</html>
